<% include ./partials/header %>

<script src="/js/main.js"></script>

<div class="container">
    <div id="movie" class="card card-body mb-4"></div>
</div>

<script>
    getMovie();
</script>

<% include ./partials/footer %>